input[type=submit]{
    height: 35px;
       width: 35px;
       border-radius: 30px;
       position: relative;
       font-family: 'Lato', sans-serif;
       font-size: 20px;
       text-align: center;
       background: rgb(255,0,0);
       background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,255,255,1) 51%);
       transform: rotate(90deg);
   }