input[type=submit]{
    height: 34px;
       width: 35px;
       border-radius: 30px;
       position: relative;
       font-family: 'Lato', sans-serif;
       font-size: 20px;
       text-align: center;
       background: rgb(255,0,0);
       background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,255,255,1) 51%);
       transform: rotate(90deg);
   }
   body{
       background-size:cover;
       position: relative;
       
       background-image: url(https://www.wallpapertip.com/wmimgs/81-813546_rotom-pokedex-background.jpg);
   }

    #pokemon{
        position: relative;
        font-size: 30px;
        left: 150px;
        bottom: 70px;
    }
    #type{
        position: relative;
        font-size: 30px;
        left: 45px;
        bottom: 34px;
    }
    #xp{
        position: relative;
        font-size: 30px;
        left: 35px;
        bottom: 34px;
    }
    #height{
        position: relative;
        font-size: 30px;
        left: 55px;
        bottom: 34px;
    }
    #health{
        position: relative;
        font-size: 30px;
        left: 50px;
        bottom: 34px;
    }
    #attack{
        position: relative;
        font-size: 30px;
        left: 50px;
        bottom: 34px;
    }
    #defense{
        position: relative;
        font-size: 30px;
        left: 58px;
        bottom: 34px;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-style: solid;
       
     
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
        max-height: 45%;
     
      }

      main{
        margin-left: 500px;
        position: relative;
      }