input[type=submit]{
    height: 34px;
       width: 35px;
       border-radius: 30px;
       position: relative;
       font-family: 'Lato', sans-serif;
       font-size: 20px;
       text-align: center;
       background: rgb(255,0,0);
       background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,255,255,1) 51%);
       transform: rotate(90deg);
   }
   body{
       background-size:cover;
       position: relative;
       
       background-image: url(https://www.wallpapertip.com/wmimgs/81-813546_rotom-pokedex-background.jpg);
   }

    /* #pokemon{
        position: relative;
        font-size: 30px;
        left: 150px;
        bottom: 70px;
    }
    #type{
        position: relative;
        font-size: 30px;
        left: 45px;
        bottom: 34px;
    }
    #xp{
        position: relative;
        font-size: 30px;
        left: 35px;
        bottom: 34px;
    }
    #height{
        position: relative;
        font-size: 30px;
        left: 55px;
        bottom: 34px;
    }
    #health{
        position: relative;
        font-size: 30px;
        left: 50px;
        bottom: 34px;
    }
    #attack{
        position: relative;
        font-size: 30px;
        left: 50px;
        bottom: 34px;
    }
    #defense{
        position: relative;
        font-size: 30px;
        left: 58px;
        bottom: 34px;
    }


      main{
        margin-left: 600px;
        position: relative;
      } */


      .divtable{
          display: table;
          max-width: 20em;
          float: center;
          display: flex;
          align-items: center;
      }

      .divtablerow{
          display: table-row;
          padding: 3px 10px;
          border: 1px solid #999999;
          background-color: lavender;
          /* display: table-cell; */
        
      }